.heading{
    text-align: center;
    margin-bottom: 5px;
}
.heading h2{
    margin-top: 5%;
    color: rgb(37, 145, 245);
}
.heading1{
    background: #f4f4f4;
    margin-bottom: 5%;
}
.about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.about-us img{
    flex: 0 50%;
    max-width: 50%;
    max-width: 450px;
    height: auto;
}
.content{
    padding: 35px;
    margin-bottom: 10%;
}
.content span{
    color: rgb(37, 145, 245);
    font-weight: bold;
}
.content h3{
    font-size: 24px;
    margin: 15px 0px;
    padding-top: 12%;
}
.content p{
    font-size: 18px;
    line-height: 1.5;
    margin: 15px 0px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .about-us {
    flex-direction: row;
  }

  .about-us img {
    max-width: 100%;
    margin-bottom: 0;
  }

  .content {
    padding: 35px;
    width: 60%;
  }
}

  
@media only screen and (max-width: 767px) {
  .about-us {
    flex-direction: column;
  }

  .about-us img {
    width: 100%;
    height: auto;
}


  .content {
    padding: 20px;
    /* width: 100%; */
  }
}
