.nav__link {
  display: inline-block; /* Assure que le padding et les marges s'appliquent correctement */
  padding: 10px 20px; /* Ajuste la taille de l'encadré */
  text-align: center; /* Aligne le texte au centre */
  text-decoration: none; /* Supprime le soulignement par défaut des liens */
  font-weight: bold; /* Rend le texte en gras */
  color: rgb(37, 145, 245);

}
.nav__link:hover {
  color: rgb(255, 255, 255); /* Couleur du texte au survol */
  background: rgb(37, 145, 245); /* Couleur de fond au survol */
  border-radius: 5px; /* Augmente l'arrondi des coins */
  transition: .3s; /* Transition douce pour les changements */
}
.nav__item{
  /* padding-left: 5%; */
}

.nav {
  margin-top: 2%;
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;

}
.nav__brand {
  text-transform: uppercase;
  color: rgb(37, 145, 245);
  font-weight: bold;
}
.nav_full{
  padding-left: 15%;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: white;
    color: black;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}