.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}
.navbar a {
  color: rgb(0, 0, 0);
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}
.navbar .logo {
  font-size: 2em;
  font-weight: bold;
  color: rgb(37, 145, 245);
}
.nav-links{
  margin-left: 30%;
}
.navbar .nav-links ul {
  display: flex;
  scroll-behavior: smooth;
}
.navbar .nav-links ul li.active a {
  font-weight: 600;
  scroll-behavior: smooth;
}
.navbar .nav-links ul li a:hover {
  color: rgb(255, 255, 255);
  background: rgb(37, 145, 245);
  border-radius: 3px;
  transition: .3s;
}


.burger-menu {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

.nav-links {
  text-align: center;
}

@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
  }

  .navbar .burger-menu {
    display: block;
    margin: 30px;
    margin-left: 0.2px;
  }

  .navbar .nav-links ul {
    display: none;
    text-align: center;
  }

  .navbar .nav-links.show ul {
    display: flex;
    flex-direction: column;
  }

  .navbar .nav-links ul li {
    width: 100%;
  }
}
